@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@page "/agenda"
@inherits AgendaViewmodel

<div class=@(IsFocus ? null : "greyout" )>
    <h1>Blazor agenda</h1>

    <p>This component demonstrates fetching data from the server.</p>
    @if (!isButtonClicked)
    {
        <LoginView OnLogin="@ClickButton" />
    }
    else
    {
        @foreach (Event e in UserService.LoginUser.CurrentUser.Event)
        {
            <p>@e.Summary</p>
        }
        if (isLoaded)
        {
            <button onclick="@AddNewEvent">Show</button>
            <button onclick="@EditUser">Edit user</button>
            if (LoadComponent != default(RenderFragment))
            {
                @LoadComponent
            }
            <ContactsView />
        }
        <CalendarView Loaded="@isLoaded" LoadedChanged="@ChildLoadedEvent" />
    }
</div>
