@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Client.Views;
@using BlazorAgenda.Shared.Models
@page "/"
@inherits AgendaViewmodel

<h1>Blazor agenda</h1>

@if (!isButtonClicked)
{
    <LoginView OnLogin="@ClickButton" />
}
else
{
    @foreach (Event e in StateService.LoginUser.Event)
    {
        <p>@e.Summary</p>
    }
    if (isLoaded)
    {
        <button onclick="@AddNewEvent">Show</button>
        <button onclick="@EditUser">Edit user</button>
        <button type="button" class="btn btn-primary" onclick="@(e => OpenPopup())">Open Popup</button>
        if (LoadComponent != default(RenderFragment))
        {
            @LoadComponent
        }
        <ContactsView />
        <PopupView ref="_popup" Animation="PopupView.AnimationType.FadeIn" Title="A Popup Demo Title" />
    }
    <CalendarView Loaded="@isLoaded" LoadedChanged="@ChildLoadedEvent" />
}
