@page "/agenda"
@using BlazorAgenda.Shared
@using BlazorAgenda.Client.Viewmodels

@inherits AgendaViewModel

<h1>Blazor agenda</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (test == null)
{
    <button class="loginBtn" onclick="@LoginAsync">
        Login with Google
    </button>
}
else
{
    <button onclick=@Show>Show</button>
    <CalendarEventView IsVisible=collapse/>
    <table class="table">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in test)
            {
                <tr>
                    <td>@item.Start.ToString("dd-MM-yyyy hh:mm")</td>
                    <td>@item.End.ToString("dd-MM-yyyy hh:mm")</td>
                    <td>@item.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}
<h2>@test2</h2>

@functions {
    List<CalendarEvent> test;
    string test2 = "";

    async Task LoginAsync(UIMouseEventArgs e)
    {
        test = await HttpClient.GetJsonAsync<List<CalendarEvent>>("api/SampleData/Test");
    }

    async Task TestAsync(UIMouseEventArgs e)
    {
        test2 = await HttpClient.GetStringAsync("api/SampleData/AddTestAsync");
    }
    bool collapse = true;
    void Show()
    {
        collapse = !collapse;
    }
}
