@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@page "/agenda"
@inherits AgendaViewmodel

<div class=@(IsFocus ? null : "greyout" )>
    <h1>Blazor agenda</h1>

    <p>This component demonstrates fetching data from the server.</p>
    @if (!isButtonClicked)
    {
        <Login OnLogin="@ClickButton" />
        @*<button class="loginBtn" onclick="@ClickButton">
                Login with Google
            </button>*@
    }
    else
    {
        @foreach (Event e in UserService.CurrentUser.Event)
        {
            <p>@e.Summary</p>
        }
        if (isLoaded)
        {
        <button onclick="@AddNewEvent">Show</button>
        if (Service.CurrentEvent != null)
        {
            @LoadComponent
        }
        @*<ContactsView/>*@
        }
        <CalendarView Loaded="@isLoaded" LoadedChanged="@ChildLoadedEvent" />
    }
</div>
