@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@inherits ContactsViewModel

@if (Contacts != null)
{
<div>
    <select onchange="@SelectContact">
        @foreach (User user in Contacts)
        {
            <option value="@user.Emailadress" selected=@(user.Emailadress == StateService.LoginUser.Emailadress)>@user.Firstname @user.Lastname</option>
        }
    </select>
    <br />
    @if (StateService.ChosenContacts.Count > 0)
    {
        <ul>
            @foreach (User contact in StateService.ChosenContacts)
            {
                <li>@contact.Firstname @contact.Lastname <button onclick="@(() => DeselectContact(contact.Emailadress))">✗</button></li>
            }
        </ul>
    }
</div>
}