@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@inherits ContactsViewModel

@if (Contacts != null)
{
    <div class="form-row">
        <select class="col-sm-3 form-control" onchange="@SelectContact">
            @foreach (User user in Contacts)
            {
                <option value="@user.Id" selected=@(user.Id == StateService.LoginUser.Id)>@user.Firstname @user.Lastname</option>
            }
        </select>
    </div>
    @if (StateService.ChosenContacts.Count > 0)
    {
        <div class="form-row">
            <ul>
                @foreach (User contact in StateService.ChosenContacts)
                {
                    <li>@contact.Firstname @contact.Lastname <button class="btn btn-danger btn-sm" onclick="@(() => DeselectContact(contact.Id))">✗</button></li>
                }
            </ul>
        </div>
    }
}