@using BlazorAgenda.Client.Services;
@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared
@using BlazorAgenda.Shared.Models
@inherits DragDropViewModel

<td>
    <div class="eventContainer" ondragenter="@(e => OnContainerDragEnter(e))" ondragover="event.preventDefault();"
        ondragleave="@(e => OnContainerDragLeave(e))" ondrop="@(e => OnContainerDrop(e, Start))"
        style="@HighlightDropTargetStyle">
        @foreach (Event item in DragDropHelper.Items)
        {
            if (item.Start == Start)
            {
                int rowspan = (int)((item.End - item.Start).TotalHours * 4);
                int numEvents = DragDropHelper.Items.FindAll(x => x.Start == item.Start).Count;
                <EventView Event="@item" Rowspan="@rowspan" NumEvents="@numEvents" DragStart="@OnItemDragStart" />
            }
        }
    </div>
</td>
