@using BlazorAgenda.Client.Viewmodels
@inherits EventViewModel

<div class="event" draggable="true" ondragstart="@OnDragStart" style="background-color:@(EventColor.Background); color:@(EventColor.Foreground); top:@(Top)px; left: @(Left)px; min-height: @(Height)px; width: @(Width)px;" onclick="@(() => PrintSummary())">
    @Event.Summary
    <br />
    @Event.Start.ToString("HH:mm") - @Event.End.ToString("HH:mm")
</div>
